body{
    background-color: rgb(255, 196, 196);
    font-family: 'Times New Roman', Times, serif; 
    background-image: url(resimler/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#p1{
    background-color: rgb(229, 231, 105);
    color: brown;
    border-bottom: 4px dotted rebeccapurple;
    border-top: 4px dotted rebeccapurple;
    border-right: 5px dotted blue;
    border-left: 5px dotted blue;
    border-radius: 25px;
}
#p1 span {
    background-color: aquamarine;
    color: brown;
    font-style: italic;
}

.renk_green{
    color: rgb(255, 255, 255) !important;
    background-color: #0487D9;
    font-family:Arial, Helvetica, sans-serif;
}
#resim{
    border-style: double;
    border:3px double rgb(203, 81, 81);
    border-radius: 10px;
    margin: auto;

   
}

.sub_title a{
    font-size: 18px;
    font-weight:bold ;
    color: black;
    text-shadow: 2px 2px 3px red, -2px -2px 3px turquoise;
}

#box1{
    background-color: red;
    margin-left: 200px;
    border: 3px solid;
    font-size: 2em;
    height: 100px;
    width: 100px;
}
#box2{
    background-color: rgb(75, 174, 216);
    margin-left: 94.5px;
    border: 3px solid;
    font-size: 2em;
    height: 100px;
    width: 100px;
}
#box3{
    background-color: antiquewhite;
    padding: 5px;
    width: 300px;
    border: 3px dotted red;
}
.satir{
    width: 100%;
    height: 100%;

    padding: -10px;
    margin-right: -10px ;
    margin-left: -10px;
    text-align: center;

}
.satir img{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
header{
    width: 275px;
    margin:auto ;
    border-style: solid;
    border-color: rgb(72, 7, 104);
    border-width: 8px;
    padding: 10px;
    text-align: center;
    text-decoration-thickness: 2px;
}
footer{
    padding: 5px;
}
header a:hover{
    font-size: 19px;
    text-shadow: 3px 3px 2px red, -3px -3px 2px turquoise;

}
#Title::first-letter{
    font-size: 1.5em;
    text-decoration: none;
}
#Title{
    color: black;
    margin: auto;
    text-shadow: 2px 2px 3px red, -2px -2px 3px turquoise;
    text-decoration-line: none !important;
}
p::selection{
    color:white;
    background-color: blueviolet;

}
.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 25%;
}
.pagination a.active{
    background-color: rgb(158, 236, 158);
    font-weight: bold;
    border-radius: 25%;
}
.pagination a:hover:not(.active){
    background-color: rgb(120, 116, 116);
}
.dropdown button{
    background-color: bisque;
    color: black;
    padding: 2px 5px;
    border-radius: 10%;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px 5px;
}
.dropdown .content{
    display: none;
    background-color: rgb(245, 206, 155);
    position: absolute;
    min-width: 50px;
    box-shadow: 1px 1px 3px rgb(234, 151, 234);
}
.dropdown:hover .content{
    display: block;
}
.dropdown a:hover{
    font-size: 1.05em;
}
.dropdown{
    display: inline-block;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(69, 69, 69);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
        color: white;
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align: center;
}
.navbar a:hover{
    background-color: rgb(119, 119, 119);
}
.navbar li{
    float: left;
}
